.rotate{
    width:200px;
    height:200px;
    border-radius: 100px;
    background: gray;

    animation:rotate 3s linear 0s infinite;
}

@keyframes rotate{
	0%{
		transform: rotate3d(0);
	}
	100%{
		transform: rotate3d(0,1,0,360deg);
	}
}