/* pattern */
.horizental-vertical-center{
	width:100%;
	display:table;
}
.horizental-vertical-center>div{
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}
.horizental-vertical-center>div>div{
	display:inline-block;
	text-align:left;
}

/* demo */
body{
	margin:0;
	padding:0;
}
.horizental-vertical-center{
	height:300px;
	background: gray;
}
.horizental-vertical-center>div>div{
	width:200px;
	height:200px;
	background: orange;
}