
/* pattern */
.test-transition-hover,
.test-transition-before-domcontentloaded,
.test-transition-domcontentloaded,
.test-transition-onload,
.test-transition-settimeout{
	left:0;
	transition:left 5s;
}

.test-transition-hover:hover{
	left:500px;
}

/* demo */
body{
	margin:0;
	padding:0;
}

.test-transition-hover,
.test-transition-before-domcontentloaded,
.test-transition-domcontentloaded,
.test-transition-onload,
.test-transition-settimeout{
	position:absolute;
}
