/* pattern */

html{
	height:100%;
}
body{
	height:100%;
	margin:0;
	padding:0;
}
body>table{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

/* demo */

body>table>tbody>tr:first-child>td,
body>table>tbody>tr:last-child>td{
	height:50px;
	background:gray;
}
.test{
	overflow:auto;
	height:100%;
}
.test>div{
	width:5px;
	height:1000px;
	background:black;
}
