
/*
	<div classs="modal-dialog">           <!-- background -->
		<div>                             <!-- vertical middle -->
			<div>                         <!-- horizental center -->
				...
			</div>
		</div>
	</div>
*/

/* background */
.modal-dialog
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: table;
    background: rgba(0,0,0,.3);
}

/* vertical middle */
.modal-dialog > div
{
    display: table-cell;
    vertical-align: middle;
	text-align:center;
}

/* horizontal center */
.modal-dialog > div > div
{
    display:inline-block;
}