.overflow-hidden{
    background:gray;
}
.overflow-hidden>div{
    width: 200px;
    height: 200px;
    background-color: saddlebrown;
    overflow: hidden;
    
    transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
}
.overflow-hidden>div>div{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 150px;
    
	transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	-moz-transform: skewX(20deg);
	-ms-transform: skewX(20deg);
	-o-transform: skewX(20deg);
}

/*demo*/
body{
    margin:0;
    padding:0;
}