
/* pattern */

.four-column-span>span{
	box-sizing:border-box;
	
	display:inline-block;
	width:25%;
	float:left;
	border:5px solid;
}
.four-column-span::after{
	content:"";
	display:block;
	clear:both;
}

.four-column-li{
	margin:0;
	padding:0;
}
.four-column-li>li{
	list-style:none;
	box-sizing:border-box;
	width:25%;
	float:left;
	border:5px solid;
}
.four-column-li::after{
	content:"";
	display:block;
	clear:both;
}

.content-box{
	width:100px;
	height:100px;
	background:gray;
	padding:10px;
	border:5px solid;
}

.border-box{
	width:100px;
	height:100px;
	background:gray;
	padding:10px;
	border:5px solid;
	box-sizing:border-box;
}

/* test */

body{
	margin:0;
	padding:0;
}

.four-column-li,.content-box,.border-box{
	margin-top:20px;
}