@keyframes animation-name{
	0%{
		width:50px;
		height:50px;
		left:225px;
		top:225px;
		border-radius:25px;
		opacity:1;
	}
	90%{
		width:200px;
		height:200px;
		left:150px;
		top:150px;
		border-radius:100px;
		opacity:1;
	}
	100%{
		width:200px;
		height:200px;
		left:150px;
		top:150px;
		border-radius:100px;
		opacity:0;
	}
}

.expanding-animation{
	position:absolute;
	
	width:500px;
	height:500px;
	left:50px;
	top:50px;
}
.expanding-animation>span:first-child{
	display:inline-block;
	margin-top:-1px;
	position:absolute;
	background: radial-gradient(
		rgba(255,255,255,.0) 0%,
		rgba(255,0,0,.3) 60%,
		rgba(255,0,0,1) 80%);
	
	animation:animation-name 3s linear;
	animation-iteration-count:infinite;
}

.expanding-animation>span:last-child{
	position:absolute;
	float:left;
	width:10px;
	height:10px;
	border-radius:8px;
	margin-left:-5px;
	margin-top:-6px;
	background: rgba(255,0,0,1);
	
	left:250px;
	top:250px;
}

/*demo*/
.expanding-animation{
	border:1px solid;
}